<div class="container">
    <% if current_user.admin? || current_user.premium? %>
    <div class="TBD">
        <%= form_tag wiki_collaborators_path, method: :post do %>
            <%= text_field_tag :email %>
            <%= hidden_field_tag :wiki_id, @wiki.id %>
            <%= submit_tag "Add As A Collaborator" %>
        <% end %>
        
        </br>
        
        <% if @wiki.users.any? %>
            <h3>Currently Collaborating:</h3>
            <% @wiki.collaborators.each do |collab| %>
                <p><%= collab.user.email %></p>
                
                <% if @wiki.user == current_user %>
                <%= link_to "Remove", wiki_collaborator_path(user_id: @user.id, wiki_id: @wiki.id), method: :delte %>
            <% end %>
        <% end %>
    <% end %>
    </div>
    <% end %>
</div>