<div class="TBD">
    <% if current_user.admin? || current_user.premium? %>
    <div class="TBD">
        <%= form_for [@wiki, Collaborator.new] do |f| %>
            <%= f.label :collaborators %>
            <%= f.select :user, options_for_select(@user_emails, :selected => params[:user]) %>
            <%= f.submit 'Save' %>
        <% end %>
        <% if @wiki.users.any? %>
            <h3>Currently Collaborating:</h3>
            <% @wiki.users.each do |user| %>
                <p><%= user.email %></p>
                <%= link_to "Remove", wiki_collaborator_path(user_id: @user.id, wiki_id: @wiki.id), method: :delte %>
            <% end %>
        <% end %>
    </div>
    <% end %>
</div>